auto-save-list/
elpa/
custom-set-variables.el
projects
custom.el
eshell
amx-items
amx-history
amx-data
recentf
bookmarks
tramp
nov-places
eln-cache/
/transient/
racket-mode/
url/
/tree-sitter/
/history
/.cache/
.lsp*